# This workflow builds the main solution to ensure the WinUI app compiles on every push.
name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: windows-latest

    env:
      SOLUTION_PATH: Smart Cleaner for Windows.sln

    steps:
      - uses: actions/checkout@v4
      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 8.0.x
      - name: Restore
        run: dotnet restore "$env:SOLUTION_PATH" -p:Configuration=Release
      - name: Build
        run: dotnet build "$env:SOLUTION_PATH" --configuration Release --no-restore
